<%= form_for @user, url: login_path do |f| %>

<div class="form-group">
<%= f.label :username %>
<%= f.text_field :username, class: "form-control" %>
</div>

<%= f.submit "Login", :class => 'btn btn-primary'%>

<% end %>
