/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

.app-header__header {
    max-width: 100%;
    background-color: #B2DFDB;
    margin-bottom: 0.5rem;
    padding: 2rem 1rem 0.5rem 1rem
}

.app-header__header h1 {
    text-align: center;
    margin: 25px auto 40px auto
}

.app-header__header h1 a {
    color: #FF5722;
    padding-right: 25px;
    margin-right: 15px;
    border-right: white 2px solid
}

.app-header__header h1 small {
    color: white
}

.app-header__header p {
    margin-bottom: 5px
}

.btn-primary {
    background-color: #26A69A;
    color: white;
    border-color: #26A69A
}

.btn:hover {
    background-color: #00796B;
    color: white
}

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

main {
  padding: 2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a, h2, h3 {
  color: #26A69A;
}

.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.list-group-item {
  border: none;
}

.app-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.app-header__nav_item {
    margin-top: 1rem
}

.app-header__nav_item .nav-link {
    color: #00796B
}

.app-header__site-nav-container .app-header__nav_item {
    margin-right: 2rem
}

.app-header__user-nav-container .nav-item {
    margin-left: 2rem
}

td {
    border-width: 1px 0;
    margin-bottom: 20px;
    padding: 10px;
}

.alert {
  width: 100%
}

a:hover {
    text-decoration: none;
    color: #00796B;
}
