// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-ten h3 {
    border-bottom: 2px solid;
    border-bottom-color: #B2DFDB;
}

.root-hr {
  margin: 0px auto 75px auto;
  color: #EEEEEE;
}

.top-ten-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

section.spotlight>div {
  padding: 0 2rem 2rem 2rem;
}

.media-spotlight-header {
  color: #424242;
}

.spotlight p {
  margin-bottom: 0px;
}

.top-ten ul {
    list-style-type: none;
    margin-left: 0px;
}
